
.registerCss{
    width: 30%;
    margin:150px auto   ;
    background-color:rgb(43, 43, 56);
    text-align: center;
    padding:5px;
    border: 1px solid black;
    box-shadow:   0 0 10px rgb(0, 0, 0,0.8);
    position: relative;
    
}
.registerCss input{
    width:200px;
    height: 30px;
    border-radius: 2px;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: red;
}
.error{
    color: red;
}
.registerCss Link{
    text-decoration: none;
}

